body {
    background-color: blue;
}

#container {
   
    width: 910px;
    border: 2px solid red;
}

#tactics {
    background-color: white;
}


#info {width:898px;}

#control{
    margin: 0 auto;
    width: 90%;
}