body {
    background-color: blue;
}

#container {   
    overflow:hidden;
}

#tactics {
    background-color: white;
}


#info {
    position:absolute;
    width:900px;
    top:0;
    left:0;
    color: green;
    background-color: black;
    font-size: 16px;
}

#control{
    position: absolute;    
    top:30px;
    right:0;
    border: 1px dashed red;    
    width: 300px; 
    background: black;
    opacity: 0.7;
    color:green;   
}
